
/* PC 1024px */
@media (min-width: 64em) {
  #nav-mobile,
  .search-bar__input,
  .mobile-menu-close,
  .nav-mobile__search-btn,
  .nav-mobile__search-bar,
  #nav-mobile .nav__overlay {
    display: none;
  }
}

/* Tablet 740px - 1023px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .nav--mobile-open {
    width: 70vw;
  }

  .footer-sponsors__nike {
    width: 16%;
  }

  .footer-sponsors__rakuten {
    width: 19%;
  }

  .footer-sponsors__beko {
    width: 13%;
  }

}

/* Tablet & Mobile 1023px */
@media (max-width: 63.9375em) {
  #main-nav > li, #nav .nav__search-btn {
    display: none;
  }

  #nav-mobile {
    display: flex;
    position: relative;
    align-items: center;
    float: right;
    height: 100%;
    color: #fff;
  }

  .nav-mobile__btn {
    padding: 0 1rem;
  }

  .nav-mobile__btn i {
    font-size: 2rem;
  }

  #main-nav > li {
    display: block;
  }

  .nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn linear 0.2s;
  }

  .navigation {

  }

  .nav--mobile-open {
    display: flex;
    position: fixed;
    flex-direction: column;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #181733;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .mobile-menu-close {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    right: 0;
  }

  .mobile-menu-close i,
  .mobile-menu-close__text {
    color: #fff;
    font-size: 1.125rem;
  }

  .navigation__middle {
    margin-top: 4.25rem;
  }

  .nav__input:checked ~ .nav__overlay {
    display: block;
  }

  .nav__input:checked ~ .nav--mobile-open {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }

  .nav-mobile__search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.625rem;
    left: 1rem;
    width: 70vw;
    max-width: 80%;
    height: 3rem;
    border-radius: 1.375rem;
    background: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,0.1);
    padding: 0 1rem;

  }

  .nav-mobile__search-icon {
    position: relative;
    color: #fff;
    font-size: 1.125rem;
  }

  .search-bar__input {
    background-color: transparent;
    width: 100%;
    border: none;
    color: #fff;
    margin-left: 0.5rem;
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .search-bar__btn {
    display: none;
  }

  #main-nav .navigation__middle--sub-item {
    width: 100%;
  }

  #main-nav .navigation__middle--sub-item a {
    line-height: 3rem;
  }

  .footer__pattern {
    height: 9rem;
  }

  .footer__title {
    top: 0;
    font-size: 2rem;
    padding: 3.125rem 0;
  }

  .footer__sponsors {
    position: relative;
  }

  .footer-sponsors__container {
    flex-direction: column;
  }

  .footer-sponsors__section {
    min-height: 8.75rem;
    padding: 0 1rem;
  }

  .footer-sponsors__title {
    width: 100%;
    text-align: center;
    line-height: 2px;
    height: auto;
  }

  .footer-sponsors__title span {
    position: relative;
    padding: 0 0.5rem;
  }

  .footer-sponsors__pattern-container {
    padding: 1.5rem 0;
  }

  .footer-sponsors__link-wrapper {
    top: auto;
    bottom: -2rem;
    width: calc(100% - 2rem);
    text-align: center;
    margin: 0 auto;
  }

  .footer-logo {
    width: 100%;
    text-align: center;
  }

  .navigation__middle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  .navigation__middle--hovered::after,
  .navigation__middle--sub-item-hovered::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 0.0625rem;
    background-color: hsla(0, 0%, 100%, 0.1);
  }

  #footer .footer__core::after {
    content: none;
  }

  #footer .footer__sponsors::after {
    content: "";
    position: absolute;
    display: block;
    left: -100vw;
    width: 200vw;
    height: 1.5rem;
    top: 0;
    z-index: 10;
    background: linear-gradient(180deg, rgba(24,23,51,0), #181733);
  }

  .footer-sponsors__pattern-container::before {
    content: none;
  }

  .footer-sponsors__title span::before {
    left: calc(-50vw + 50% + 1rem);
  }

  .footer-sponsors__title span::after {
    right: calc(-50vw + 50% + 1rem);
  }

  .footer-sponsors__title span::before,
  .footer-sponsors__title span::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    background: #fdc52c;
    width: calc(50vw - 50% - 2rem);
    height: 2px;
  }

}

/* Mobile 739px */
@media (max-width: 46.1875em) {
  .col-m-12 {
    width: 100%;
  }

  .nav--mobile-open {
    width: 100vw;
  }

  .contact__info {
    margin-bottom: 1rem;
  }

  .footer-sponsors__nike {
    width: 20%;
  }

  .footer-sponsors__rakuten {
    width: 24%;
  }

  .footer-sponsors__beko {
    width: 16%;
  }

  .btn__form {
    width: 100%;
  }

  .maps-content .google-map-api {
    width: 100%;
    height: 26rem;
  }

  .footer-social__item {
    margin-bottom: 1rem;
  }

}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}